html{
    font-size: 10px;
}

.main{
    width: 30rem;
    height: 40rem;
    margin: 5rem auto;
    padding: 2rem;
    border: 0.1rem solid black;
    border-radius: 1rem 1rem 0 0;
    background-color: #5252a7;
}

    .screen{
        width: 100%;
        height: 70%;
    }

        .screen #grid{
            float: left;
            width: 69%;
            height: 100%;
            box-sizing: border-box;
            border: 0.1rem solid #eee;
        }

        .screen #notice{
            float: right;
            width: 30%;
            height: 100%;
            box-sizing: border-box;
            border: 0.1rem solid #eee;
        }

    .controlboard{
        width: 100%;
        height: 29%;
        margin-top: 1%;
    }

        .controlboard #gamepad{
            width: 100%;
            height: 100%;
            border: 0.1rem solid #eee;
        }